- content_for :js do
  = javascript_tag do
    == var ZealotSpots = #{@spots.to_json};
  == <script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=A89ep3fV34E7xmR7phcrGoALC_7by21vdTDllAAXHkWIT6ON_iQJbI6LOCndWbN0"></script>
  = javascript_include_tag "map", "scripts"
#menu
  %a{ :href => "#new_spot" }New spot
  .new_spot
    - form_tag({}, :id => "new_spot", :style => "display: none") do
      %label{:for => "name"}Name
      %input{:type => "text", :name => "name", :id => "name"}
      %label{:for => "Description"}Description
      %input{:type => "text", :name => "description", :id => "description"}
      = submit_tag
#map

#search
  - form_tag({}, :id => "search_form") do
    %label{:for => "search_string"}Search
    %input{:type => "text", :name => "search_string", :id => "search_string"}
    = submit_tag
  %ul#matches
