!!!
%head
  %title= "Penis #{@page_title}"
  = stylesheet_link_tag "reset", "style"
  = yield :head
%body
  %h1 ZEROT

  / layout
  = yield :layout
  / javscript
  = javascript_include_tag "jquery-1.3.2"
  = yield :js
