!!!
%head
  %title= "Penis #{@page_title}"
  = stylesheet_link_tag "reset", "style"
  = yield :head
%body
  %h1 ZEROT
  #header
    -if logged_in?
      == Welcome #{current_user.nickname || current_user.identity_url} | 
      =link_to "Logout", logout_path
    -else
      =link_to "Login", login_path

  / layout
  = yield :layout
  / javscript
  = javascript_include_tag "jquery-1.3.2"
  = yield :js
