!!!
%head
  %title= "Penis #{@page_title}"
  = stylesheet_link_tag "reset", "style"
  = javascript_tag do
    == window.AUTH_TOKEN = "#{form_authenticity_token}";
  = yield :head
%body
  #header
    %h1 ZEROT
    -if logged_in?
      == Welcome #{current_user.nickname || current_user.identity_url} | 
      =link_to "Logout", logout_path
    -else
      =link_to "Login", login_path

  / layout
  = yield :layout
  / javascript
  = javascript_include_tag "jquery-1.3.2"
  = yield :js
  #footer
    %span Pickles are the delicious
